$white: #fff;
$black: #000;
$f93: #ff9933;
$f60: #ff6600;
$shadow: rgba(0, 0, 0, 0.3);
$searchFormShadow: $shadow;
$searchBoxBg: $f93;
$sortByBg: $f60;
$listItemBg: #fafafa;
$listTitle: #000;
$listDetail: #8c8c8c;
$detailHeader: $f93;
$direction: $f93;